= form_for @person, :url => person_token_path(@person.authentication_token), :html => {:method => :get} do |f|
  %p
    <b>#{@person.email}</b> is #{@person.opt_in ? "going" : "not going"} this week.

  %p
    = f.label :opt_in
    = f.check_box :opt_in
    = f.submit "Save"