= form_for @person, :url => person_token_path(@person.authentication_token), :html => {:method => :get} do |f|
  - if @changed_opt_in_datetime
    %p
      <b>#{@person.email}</b> is #{@person.going? ? "going" : "not going"} this week.

    %p
      - if @person.going?
        = f.hidden_field :opt_in_datetime, :value => nil
        = f.submit "Actually, I don't want to go"
      - else
        = f.hidden_field :opt_in_datetime, :value => Dates.next_tuesday
        = f.submit "Actually, I want to go"
  - if @changed_subscription
    %p
      <b>#{@person.email}</b> is #{@person.subscribed ? "subscribed" : "unsubscribed"}.

%h3 People at #{@person.location.name} who've already opted-in
%div#people_at_location
  - @people.each do |person|
    %img{ :src => person.gravatar_url, :class => "gravatar in" }
