%h1 Lunch Lottery @#{@location.name}

%p
  <b>#{Linguistics::EN.numwords(@people_count).titlecase} people</b>
  are going to lunch in random groups of 4 <b>every Tuesday.</b>

- unless @person.errors.empty?
  %p.errors
    = @person.errors.full_messages

- if flash[:message]
  %p.flash
    = flash[:message]

- if @person.errors.empty? && !flash[:message]
  %p Sign up below! We'll pick your lunch mates and email you on Monday night.

= form_for @person do |f|
  = f.label :email, "Email:"
  = f.text_field :email
  = hidden_field_tag :location, @location.name

  = f.submit "Sign me up!"


%h3 People at #{@location.name}
%div#people_at_location
  - @people.each do |person|
    %img{ :src => person.gravatar_url, :class => "gravatar #{person.opt_in? ? 'in' : 'out' }" }
%div
  %small
    Sign up with
    %a{:href=>"http://en.gravatar.com/site/signup/"} gravatar
    to set up your profile picture if you haven't already.

%h3 Favorite Restaurants for #{@location.name}

- if @location.restaurants.present?
  %img{:src => google_map_url(@location)}
  %ul
    - @location.restaurants.each_with_index do |restaurant, index|
      %li
        %p
          %img{:src => "http://www.google.com/mapfiles/marker#{google_map_pin_label(index)}.png"}
          = restaurant.name + ": " + restaurant.address

%div
  = link_to "Add A Restaurant for #{@location.name}", new_location_restaurant_path(@location), :alt => "foo"