= image_tag "lottery.jpg"

%h1 Lunch Lottery

%p <b>#{Linguistics::EN.numwords(@people_count).titlecase} people</b> are going to lunch with a random small group <b>every Tuesday.</b>

- unless @person.errors.empty?
  %p.errors
    = @person.errors.full_messages

- if flash[:message]
  %p.flash
    = flash[:message]

- if @person.errors.empty? && !flash[:message]
  %p Sign up below! We'll email you on Monday night.

= form_for @person do |f|
  = f.label :email, "Email:"
  = f.text_field :email

  = f.submit "Sign me up!"